.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(94vh);
}

.profile-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.btn-profile {
  margin-right: 15px;
}

select option:disabled {
  color: #000;
  font-weight: bold;
}

@media (min-width: 768px) {
  .profile-form {
    padding-left: 50px;
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .profile-form {
    padding-top: 30px;
  }
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.flexwidth100 {
  width: 100%;
}

.flexwidth100 > div {
  font-size: 13px;
  position: relative;
  top: -16px;
  right: 6px;
  text-align: right;
  height: 12px;
}

.flexwidth100 a {
  color: #007bfc;
  text-decoration: none;
}
