<!-- <div class="login-wrapper">
  <form class="login-form" [formGroup]="signUpFormGroup">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input formControlName="email" [(ngModel)]="loginForm.email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback d-block">
        <div *ngIf="email.errors.required">
          Name is required.
        </div>
        <div *ngIf="email.errors.email">
          Email is incorrect.
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input formControlName="password" [(ngModel)]="loginForm.password" type="password" class="form-control" id="inputPassword" placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}">

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback d-block">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must contain at least two of the following: numbers, lowercase letters, uppercase letters.
        </div>
      </div>

    </div>
    <button type="button" class="btn btn-primary btn-login" (click)="login()">Login</button>
    <a [routerLink]="['/restore']">Forgot your password?</a>
  </form>
</div> -->
<div class="signUp-wrapper">
  <form class="signUp-form" [formGroup]="signUpFormGroup">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input formControlName="email" [(ngModel)]="signUpFormGroup.email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback d-block">
        <div *ngIf="email.errors.required">
          Name is required.
        </div>
        <div *ngIf="email.errors.email">
          Email is incorrect.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input formControlName="password" [(ngModel)]="signUpFormGroup.password" type="password" class="form-control" id="inputPassword" placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}">

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback d-block">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must contain at least two of the following: numbers, lowercase letters, uppercase letters.
        </div>
      </div>

    </div>

    <div class="signUp-wrapper-btn">
      <button type="button" class="btn btn-primary" (click)="create()">Sign Up</button>
    </div>
  </form>
</div>