.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.login-full-width {
    width: 100%;
    margin-bottom: 20px;
}

.login-wrapper-btn {
    text-align: center;
}

.login-wrapper-btn > a {
    text-decoration: none;
    color: #673ab7;
}

.login-wrapper-btn > button {
    margin-right: 15px;
}