<div class="forgot-wrapper">
  <div class="forgot-info">
    Please enter the <b>phone number</b> or <b>email</b> that you used to sign in.
  </div>
  <div class="forgot-form">
    <form>
      <mat-form-field class="forgot-full-width">
        <input matInput placeholder="Email or Phone" [formControl]="emailOrPhone" required>
        <mat-error *ngIf="emailOrPhone.hasError('required')">
            Email or Phone is required
          </mat-error>
      </mat-form-field>
    
      <div class="forgot-wrapper-btn">
        <button mat-raised-button color="primary">Next</button>
      </div>
    </form>
  </div>
</div>